@import 'variables';
#header {
    .videobox {
        display: none;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        width: 100%;
        z-index: -1000;
        top: 0;
    }

    .videobox video {
        margin-top: -15vh;
    }

    .vid-overlay, .videobox {
        background: rgba(0, 0, 0, .6);
        left: 0;
        position: absolute;
    }

    .vid-overlay {
        bottom: 0;
        right: 0;
        z-index: -999
    }

    .text-next-lanparty {
        color: #FFF;
        font-size: 2.8rem;
        margin-top: 1rem;
        margin-bottom: 20vh;
    }
}
#header .head-wrap {
    display: flex;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    box-shadow: $box-shadow;
    height: 12rem;
    background-color: $primary;

    .head-content {
        text-align: center;
        align-self: center;
        color:$header-color;

        .logo {
/*
            max-height: 6rem;
            margin-bottom: 1.5rem;

            &.logo-full-height {
                max-height: 10.5rem;
            }
*/
            max-height: 5rem;
        }
    }

    &.startpage {
        height: 16rem;
        position: relative;
        .head-content .logo {
/*
            max-height: 5rem;

            &.logo-full-height {
                max-height: 14.5rem
            }
*/
            max-height: 4rem;
        }
    }
}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #header .head-wrap {
        height: 12rem;
        .head-content .logo {
            max-height: 5rem;
        }
        &.startpage {
            height: 80vh !important;
            background-image: none !important;

            .videobox {
                display: block;
            }

            .head-content .logo {
/*
                max-height: 7rem;

                &.logo-full-height {
                    max-height: 14.5rem
                }
*/
                max-height: 5rem;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #header .head-wrap {
        height: 12rem;
        .head-content .logo {
/*
            max-height: 5rem;

            &.logo-full-height {
                max-height: 10.5rem
            }
*/
            max-height: 3rem;
        }
        &.startpage {
            // height: 23rem;
            .head-content .logo {
/*
                max-height: 10rem;

                &.logo-full-height {
                    max-height: 21.5rem
                }
*/
                max-height: 6rem;
            }
        }
    }
}
